[submodule "src/roboticsgroup_upatras_gazebo_plugins"]
	path = src/roboticsgroup_upatras_gazebo_plugins
	url = https://github.com/roboticsgroup/roboticsgroup_upatras_gazebo_plugins.git
	branch = ros2
